scenedetect
ultralytics
torch
torchvision
tqdm
yt-dlp
edge-tts
faster-whisper
google-genai
python-dotenv
mediapipe==0.10.14
boto3
oss2

fastapi
uvicorn
python-multipart
httpx
websockets
Pillow
beautifulsoup4
